* {
    padding: 0px;
    margin: 0px;
}

main {
    width: 60%;
    margin-left: 20%;
}

header {
    background-color: blue;
    color: white;
    height: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* padding: 위아래 양옆 */
    padding: 0px 20px;
}

article {
    display: flex;
    /* flex-direction을 하는 이유: 수평수직 정렬을 하기 위해 */
    flex-direction: column;
    align-items: center;
}

article > ul{
    width: 80%;
    background-color:paleturquoise;
    margin-top: 20px;
    list-style: none;
}

article a {
    text-decoration: none;
}

article li {
    display: flex;
    align-items: center;
    height: 20px;
    border: 1px dotted grey;
    padding: 10px;
}

article li:hover {
    background-color: hotpink;
    color: white;
}

section {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

section > h1 {
    display: flex;
    padding: 20px;
    justify-content: center;
    align-items: center;
}

section > div {
    width: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px dotted gray;
    padding: 20px;
    margin: 10px;
}

