button {
    width: 100px;
    height: 40px;
    background-color: lightblue;
    color: rgb(13, 77, 141);
    border: 0px;
    margin: 10px;
    padding: 10px;
    border-radius: 5px;
}

button:hover {
    background-color: coral;
    color: white;
    cursor: pointer;
}

h2 {
    font-size: medium;
    color: blue;
}